/* ========= Colors ========= */

:root {
  --black: #222;
  --white: #fff;
  --default: #0751a5;
  --orange: #ff7417;
  --yellow: #d1b307;
  --grey: #a0a3ad;
  --grey2: #f9fafd;
  --warn: #e71247;
}

/* ========= Reset ========= */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Dosis", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
}

h2,
h3,
h4 {
  font-weight: 400;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 5rem;
  }
}

/* Navigation */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 0;
  line-height: 1rem;
  background-color: var(--black);
}

.hamburger {
  display: none;
}

.nav__center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav__logo {
  font-size: 2rem;
  color: var(--white);
}

.nav__logo span {
  color: var(--orange);
}

.nav__list {
  display: flex;
  align-items: center;
}

.login {
  display: inline-block;
  font-size: 1.7rem;
  margin-right: 2rem;
  padding: 1.3rem 1.5rem;
  color: var(--black);
  background-color: var(--yellow);
}

.login:focus {
  outline: none;
}

.cart__icon {
  position: relative;
  cursor: pointer;
}

.cart__icon h2 {
  font-weight: 700;
  color: var(--orange);
}

.cart__icon span {
  position: absolute;
  top: -1rem;
  right: -2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--warn);
  color: var(--white);
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 50%;
}

/* Products Center */

.rating span svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--orange);
}

.products {
  padding: 15rem 0;
}

.product__center {
  padding: 0 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.product__footer {
  padding: 1rem;
  width: 100%;
}

.product__footer h1 {
  font-size: 2rem;
}

.rating {
  margin: 1rem 0;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  border: 1px solid var(--grey);
  padding: 1rem 1.8rem;
  color: var(--black);
  font-weight: 500;
  font-size: 1.7rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  text-align: center;
}

.btn:hover {
  background-color: yellow;
  color: black;
  border: 1px solid yellow;
}

.price {
  font-weight: 700;
  font-size: 1.8rem;
}

/* Cart */
.cart__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  z-index: 2;
}

.cart {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  width: 60%;
  height: 80%;
  padding: 1.6rem;
  border-radius: 2rem;
  z-index: 3;
  overflow-y: scroll;
  background-color: var(--grey2);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-in-out;
}

.cart.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}

.cart__overlay.show {
  visibility: visible;
}

.close__cart {
  cursor: pointer;
}

.close__cart svg {
  fill: var(--black);
  transition: all 300ms ease-in-out;
}

.close__cart:hover svg {
  fill: var(--warn);
}

.cart svg {
  width: 1.8rem;
  height: 1.8rem;
}

.cart h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.cart__item svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--orange);
}

.cart__item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  width: 70%;
  margin: 2rem auto;
}

.cart__item div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart__item div span {
  cursor: pointer;
}

.cart__item img {
  width: 9.5rem;
  height: 9.5rem;
}

.cart__item h3 {
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.cart__item .price {
  color: var(--orange);
  font-weight: 700;
}

.cart__item p {
  font-weight: 700;
}

.cart__item .remove__item {
  cursor: pointer;
}

.cart__item .remove__item svg {
  fill: var(--warn);
}

@media only screen and (max-width: 1350px) {
  .cart__item {
    width: 100%;
  }
}

@media only screen and (max-width: 996px) {
  .cart__item {
    grid-template-columns: 1fr 2fr 0.5fr 0.5fr;
  }

  .cart__item h3 {
    font-size: 1.7rem;
  }

  .cart__item .remove__item svg {
    width: 1.6rem;
    height: 1.6rem;
  }

  .cart__item img {
    width: 7.5rem;
    height: 7.5rem;
  }
}

.cart__footer {
  text-align: center;
  margin-bottom: 3rem;
}

.cart__footer h3 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.cart__footer .btn {
  display: inline-block;
  padding: 1.5rem 3rem;
  font-size: 2rem;
  background-color: var(--orange);
  border: none;
  margin-top: 2rem;
}

.cart__footer .btn:focus {
  outline: none;
}

@media only screen and (max-width: 567px) {
  .cart {
    width: 100%;
    height: 100%;
    border-radius: 0rem;
  }

  .cart__item h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .btn {
    padding: 0.8rem 1.5rem;
    font-size: 1.6rem;
  }
}
















/*--------------------------*/
/*
======================
Pop Up
======================
*/

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  transition: 0.3s;
  transform: scale(1);
}

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  margin: 0 auto;
  height: 55rem;
  transform: translate(-50%, -50%);
  padding: 1.6rem;
  display: table;
  overflow: hidden;
  background-color: var(--white);
}

.popup__close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 1.5rem;
  background-color: var(--primaryColor);
  border-radius: 50%;
  cursor: pointer;
}

.popup__close svg {
  width: 1.7rem;
  height: 1.7rem;
}

.popup__left {
  display: table-cell;
  width: 50%;
  height: 100%;
  vertical-align: middle;
}

.popup__right {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  padding: 3rem 5rem;
}

.popup-img__container {
  width: 100%;
  overflow: hidden;
}

.popup-img__container img.popup__img {
  display: block;
  width: 60rem;
  height: 45rem;
  max-width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.right__content {
  text-align: center;
  width: 85%;
  margin: 0 auto;
}

.right__content h1 {
  font-size: 4rem;
  color: #000;
  margin-bottom: 1.6rem;
}

.right__content h1 span {
  color: var(--green);
}

.right__content p {
  font-size: 1.8rem;
  color: var(--grey2);
  margin-bottom: 1.6rem;
}

.popup__form {
  width: 100%;
  padding: 2rem 0;
  text-indent: 1rem;
  margin-bottom: 1.6rem;
  border-radius: 3rem;
  background-color: var(--primaryColor);
  border: none;
}

.popup__form:focus {
  outline: none;
}

.right__content a:link,
.right__content a:visited {
  display: inline-block;
  padding: 1.8rem 5rem;
  border-radius: 3rem;
  font-weight: 700;
  color: var(--white);
  background-color: var(--black);
  border: 1px solid var(--grey2);
  transition: 0.3s;
}

.right__content a:hover {
  background-color: var(--green);
  border: 1px solid var(--grey2);
  color: var(--black);
}

.hide__popup {
  transform: scale(0.2);
  opacity: 0;
  visibility: hidden;
}

/*
======================
Go Up
======================
*/
.goto-top:link,
.goto-top:visited {
  position: fixed;
  right: 2%;
  bottom: 10%;
  padding: 0.8rem 1.4rem;
  border-radius: 1rem;
  background-color: var(--orange);
  visibility: hidden;
  cursor: pointer;
  transition: 0.3s;
  animation: bounce 2s ease-in-out infinite;
}

.show-top:link,
.show-top:visited {
  visibility: visible;
  z-index: 1999;
}

@keyframes bounce {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1.5);
  }

  0% {
    transform: scale(1);
  }
}

.goto-top svg {
  width: 1.3rem;
  height: 1.3rem;
  fill: var(--white);
}

.goto-top:hover {
  background-color: var(--black4);
}

@media only screen and (max-width: 1200px) {
  .right__content {
    width: 100%;
  }

  .right__content h1 {
    font-size: 3.5rem;
    margin-bottom: 1.3rem;
  }
}

@media only screen and (max-width: 998px) {
  .popup__right {
    width: 100%;
  }

  .popup__left {
    display: none;
  }

  .right__content h1 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 768px) {
  .right__content h1 {
    font-size: 4rem;
  }

  .right__content p {
    font-size: 1.6rem;
  }

  .popup__form {
    width: 90%;
    margin: 0 auto;
    padding: 1.8rem 0;
    margin-bottom: 1.5rem;
  }

  .goto-top:link,
  .goto-top:visited {
    right: 5%;
    bottom: 5%;
  }
}

@media only screen and (max-width: 568px) {
  .popup__right {
    padding: 0 1.6rem;
  }

  .popup__content {
    height: 35rem;
    width: 90%;
    margin: 0 auto;
  }

  .right__content {
    width: 100%;
  }

  .right__content h1 {
    font-size: 3rem;
  }

  .right__content p {
    font-size: 1.4rem;
  }

  .popup__form {
    width: 100%;
    padding: 1.5rem 0;
    margin-bottom: 1.3rem;
  }

  .right__content a:link,
  .right__content a:visited {
    padding: 1.5rem 3rem;
  }

  .popup__close {
    top: 1rem;
    right: 1rem;
    padding: 1.3rem;
  }

  .popup__close svg {
    width: 1.4rem;
    height: 1.4rem;
  }
}

/*
======================
Facility
======================
*/

.facility__section {
  background-color: var(--primaryColor);
  padding: 6rem 0;
}

.facility__contianer {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
}

.facility-img__container svg {
  width: 3rem;
  height: 3rem;
  transition: 1s;
  perspective: 4000;
}

.facility__box {
  text-align: center;
}

.facility-img__container {
  position: relative;
  display: inline-block;
  line-height: 9.5rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 1.5px solid var(--white);
  z-index: 1;
  margin-bottom: 1.6rem;
}

.facility-img__container::before {
  content: "";
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0.7rem;
  background-color: var(--white);
  z-index: -1;
}

.facility__box:hover svg {
  transform: rotateY(180deg);
  line-height: 9.5rem;
}

/*
======================
Facility Media Query
======================
*/
@media only screen and (max-width: 998px) {
  .facility__contianer {
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
  }
}

@media only screen and (max-width: 568px) {
  .facility__contianer {
    grid-template-columns: 1fr;
  }

  .facility-img__container {
    width: 7rem;
    height: 7rem;
    line-height: 8.5rem;
  }

  .facility__contianer p {
    font-size: 1.4rem;
  }
}

/*
======================
Testimonial 
======================
*/

.testimonial {
  position: relative;
  background: url("./images/testimonial.jpg") center/cover no-repeat;
  height: 50rem;
  padding: 5rem 0;
  z-index: 1;
  text-align: center;
}

.testimonial::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -1;
}

.client__image {
  margin-bottom: 3rem;
}

.client__image img {
  width: 7rem;
  height: 7rem;
  max-width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.testimonial__container {
  height: 100%;
  padding: 1rem;
}

.testimonial__box {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  color: #ccc;
}

.testimonial__box p {
  width: 70%;
  margin: 0 auto;
  line-height: 2.5rem;
  font-style: italic;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.client__info h3 {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.client__info span {
  font-size: 1.4rem;
}

.testimonial .glide__bullets {
  bottom: -20%;
}

/*
======================
Testimonial Media Query
======================
*/
@media only screen and (max-width: 1200px) {
  .testimonial__box {
    height: 100%;
  }

  .testimonial__box p {
    width: 90%;
    margin: 0 auto;
    line-height: 2.2rem;
    margin-bottom: 3rem;
  }

  .client__image {
    margin-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 568px) {
  .testimonial {
    height: 100%;
    padding: 4rem 0 5rem;
    z-index: 1;
    text-align: center;
  }

  .testimonial__box {
    height: 100%;
  }

  .testimonial__box p {
    width: 100%;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }

  .client__image {
    margin-bottom: 1.5rem;
  }

  .testimonial__box span {
    margin-bottom: 1rem;
  }

  .testimonial .glide__bullets {
    bottom: -8%;
  }
}

/*
======================
News Section
======================
*/

.news {
  padding-bottom: 8rem;
}

.new__card {
  background-color: var(--primaryColor);
  width: 95%;
  margin: 0 auto;
}

.new__card:not(:last-child) {
  margin-right: 1rem;
}

.card__footer {
  padding: 3rem 1.4rem;
}

.card__footer h3 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 1rem;
}

.card__footer span {
  display: inline-block;
  margin-bottom: 1rem;
  color: var(--black2);
}

.card__footer p {
  font-size: 1.5rem;
  color: var(--black2);
  margin-bottom: 1.6rem;
  line-height: 2.7rem;
}

.card__footer a button,
.card__footer a button {
  display: inline-block;
  padding: 1.4rem 4rem;
  border: 1px solid var(--black);
  color: var(--black);
  cursor: pointer;
  transition: 0.3s;
}

.card__footer a button:focus {
  outline: none;
}

.card__footer a button:hover {
  border: 1px solid var(--black);
  color: var(--white);
  background-color: var(--black);
}

/*
======================
NewsLetter
======================
*/

.newsletter {
  padding: 6rem 0;
  border-top: 1px solid var(--primaryColor);
}

.newsletter__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newsletter__data h3 {
  font-size: 2.4rem;
  font-weight: inherit;
  margin-bottom: 1rem;
}

.newsletter__data p {
  font-size: 1.5rem;
  color: var(--black2);
}

.newsletter__email {
  font-size: 1.4rem;
  display: inline-block;
  width: 37rem;
  padding: 1.6rem;
  background-color: var(--primaryColor);
  border: none;
  text-indent: 1rem;
}

.newsletter__email:focus {
  outline: none;
}

.newsletter__link:link,
.newsletter__link:visited {
  display: inline-block;
  padding: 1.4rem 3rem;
  margin-left: -0.5rem;
  background-color: var(--black);
  color: var(--white);
  transition: 0.3s;
}

.newsletter__link:hover {
  background-color: #000;
}

/*
======================
Newsletter Media Query
======================
*/
@media only screen and (max-width: 998px) {
  .newsletter {
    padding: 6rem 4rem;
  }

  .newsletter__content {
    flex-direction: column;
    align-items: center;
  }

  .newsletter__email {
    width: 45rem;
  }

  .newsletter__data {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .newsletter__content {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .newsletter__email {
    width: 45rem;
    display: block;
    margin-bottom: 1.6rem;
  }
}

@media only screen and (max-width: 568px) {
  .newsletter__email {
    width: 23rem;
    font-size: 1.2rem;
  }

  .newsletter__data h3 {
    font-size: 1.6rem;
  }

  .newsletter__data p {
    font-size: 1rem;
  }

  .newsletter__link:link,
  .newsletter__link:visited {
    padding: 1.2rem 2rem;
    margin-left: 0;
  }
}

/*
======================
Footer
======================
*/

/*.footer {
  background-color: var(--black3);
  padding: 6rem 1rem;
  line-height: 3rem;
}

.footer-top__box span svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--grey3);
}

.footer-top__box span {
  margin-right: 1rem;
}

.footer__top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: var(--grey3);
}

.footer-top__box a:link,
.footer-top__box a:visited {
  display: block;
  color: var(--grey);
  font-size: 1.4rem;
  transition: 0.6s;
}

.footer-top__box a:hover {
  color: var(--orange);
}

.footer-top__box div {
  color: var(--grey);
  font-size: 1.4rem;
}

.footer-top__box h3 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 998px) {
  .footer__top {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer__top {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}*/

/*
======================
Product Details
======================
*/

.details__container--left,
.product-detail__container {
  display: flex;
  align-items: flex-start;
}

.product-detail__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2.5rem 0;
  margin: 0 auto;
}

.product-detail__left {
  flex: 0 0 50%;
  margin-right: 2rem;
}

.product-detail__right {
  flex: 0 0 50%;
}

.product-detail__container--left img {
  width: 100%;
  object-fit: cover;
}

.product__pictures {
  display: flex;
  flex-direction: column;
}

.pictures__container {
  padding: 1rem;
  border: 1px solid var(--primaryColor);
  border-right-color: transparent;
  cursor: pointer;
  width: 6.2rem;
  transition: 0.3s;
}

.pictures__container:not(:last-child) {
  border-bottom-color: transparent;
}

.pictures__container:hover {
  border: 1px solid var(--orange);
}

.pictures__container img {
  transition: 0.3s;
}

.pictures__container:hover img {
  scale: 1.1;
}

.product__picture {
  width: 100%;
  border: 1px solid var(--primaryColor);
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.product-details__btn {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.product-details__btn a {
  flex: 0 0 47%;
  display: inline-block;
  padding: 1.6rem 3rem;
  text-align: center;
  color: var(--black);
  border: 1px solid var(--black);
}

.product-details__btn svg {
  width: 1.9rem;
  height: 1.9rem;
  transition: 0.3s;
}

.product-details__btn .add,
.product-details__btn .buy {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.product-details__btn .add span,
.product-details__btn .buy span {
  margin-right: 1rem;
}

.product-details__btn .add:hover,
.product-details__btn .buy:hover {
  background-color: var(--black);
  color: var(--primaryColor);
}

.product-details__btn .add:hover svg,
.product-details__btn .buy:hover svg {
  fill: var(--primaryColor);
}

.product-detail__content {
  width: 90%;
  margin: 0 auto;
}

.product-detail__content h3 {
  font-size: 2.5rem;
  margin-bottom: 1.3rem;
}

.price {
  margin-bottom: 1rem;
}

.new__price {
  font-size: 2rem;
  color: var(--orange);
}

.product-detail__content .product__review {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
  padding-bottom: 1.6rem;
  border-bottom: 0.5px solid var(--primaryColor);
}

.rating {
  margin-right: 1rem;
}

.product__review a:link,
.product__review a:visited {
  color: var(--black);
}

.product-detail__content p {
  font-size: 1.4rem;
  color: var(--black2);
  line-height: 2.4rem;
  margin-bottom: 1.6rem;
}

.product__info .select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

.select .select-box {
  background: none;
  width: 18rem;
  border: none;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--primaryColor);
}

.select .select-box:focus {
  outline: none;
}

.select__option label {
  font-size: 1.4rem;
  color: var(--black3);
  display: inline-block;
  padding-bottom: 1rem;
}

.input-counter {
  display: flex;
  align-items: center;
}

.input-counter div {
  display: flex;
}

.input-counter li span {
  font-size: 1.4rem;
  color: var(--black3);
  margin-right: 1rem;
}

.minus-btn,
.plus-btn {
  display: inline-block;
  border: 1px solid var(--primaryColor);
  padding: 0.8rem 1rem;
  margin-right: 0;
  cursor: pointer;
}

.plus-btn {
  border-left-color: transparent;
}

.minus-btn {
  border-right-color: transparent;
}

.counter-btn {
  width: 7rem;
  padding: 1rem 0;
  text-align: center;
  border: 1px solid var(--primaryColor);
}

.input-counter svg {
  width: 1.8rem;
  height: 1.8rem;
  fill: var(--grey3);
}

.product__info li {
  margin-bottom: 1.6rem;
}

.product__info .in-stock {
  color: var(--green);
}

.product__info li a {
  font-size: 1.4rem;
  color: var(--black2);
}

.product-info__btn span svg {
  width: 1.8rem;
  height: 1.8rem;
}

.product-info__btn {
  display: flex;
  align-items: center;
}

.product-info__btn a {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: var(--black2);
}

.product-info__btn a:not(:last-child) {
  margin-right: 1rem;
}

/* Product Details Bottom */

.detail__content {
  position: relative;
  height: 55rem;
}

.detail__content .content {
  position: absolute;
  transform: translate(0, 25vh);
  transition: all 0.6s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 555;
}

.detail__content .content.active {
  transform: translate(0, 0vh);
  opacity: 1;
  visibility: visible;
}

#shipping h3,
#shipping p {
  color: var(--grey2);
}

#shipping p,
#description p {
  padding: 1.6rem 0;
  line-height: 2.8rem;
}

#reviews {
  font-size: 3rem;
  font-weight: 500;
  color: var(--grey2);
  border-bottom: 1px solid var(--primaryColor);
}

#description p,
#description li,
#description h2 {
  color: var(--grey2);
}

#description h2 {
  font-weight: 500;
  padding: 1rem 0;
}

#description li {
  line-height: 3rem;
  color: vaf;
}

#description ol {
  padding-left: 1.6rem;
}

/* Product Details Bottom Media Query*/

@media only screen and (max-width: 1200px) {
  .detail__content {
    height: 65rem;
  }
}

@media only screen and (max-width: 998px) {
  .detail__content {
    height: 70rem;
  }
}

@media only screen and (max-width: 768px) {
  .detail__content {
    height: 85rem;
  }
}

@media only screen and (max-width: 568px) {
  .detail__content {
    height: 110rem;
  }
}

@media only screen and (max-width: 450px) {
  .detail__content {
    height: 130rem;
  }
}

@media only screen and (max-width: 340px) {
  .detail__content {
    height: 160rem;
  }
}

/*
======================
Product Details Media Query
======================
*/
@media only screen and (max-width: 998px) {
  .select .select-box {
    width: 15rem;
  }

  .select__option label {
    display: block;
  }

  .product-info__btn {
    flex-wrap: wrap;
  }

  .product-details__btn a {
    padding: 1rem 2.5rem;
    font-size: 1.4rem;
  }

  .picture__container {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .details__container--left {
    flex-direction: column-reverse;
    text-align: center;
  }

  .product__pictures {
    margin-top: 2rem;
    flex-direction: row;
    justify-content: center;
  }

  .pictures__container {
    width: 50%;
    border-right-color: var(--primaryColor);
  }

  .pictures__container:not(:last-child) {
    border-bottom-color: var(--primaryColor);
  }

  .product-detail__container {
    grid-template-columns: 1fr;
    row-gap: 5rem;
  }

  .product__info .select {
    align-items: flex-start;
    flex-direction: column;
  }

  .select .select-box {
    display: block;
    width: 20rem;
  }
}

@media only screen and (max-width: 568px) {
  .select .select-box {
    width: 15rem;
  }

  .input-counter {
    align-items: flex-start;
    flex-direction: column;
  }

  .input-counter div {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  .product-details__btn a {
    padding: 0.7rem 2rem;
    font-size: 1.2rem;
  }

  .product-details__btn .add span,
  .product-details__btn .buy span {
    margin-right: 0rem;
  }

  .product__review .rating svg {
    width: 1.4rem;
    height: 1.4rem;
  }
}

/*
======================
Cart Area
======================
*/
.cart__area {
  padding-bottom: 5rem;
}

.cart__form {
  display: block;
}

.product__thumbnail img {
  width: 10rem;
  height: 15rem;
  object-fit: contain;
}

.remove__cart-item svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--grey2);
  transition: all 0.3s ease-in-out;
}

.cart__table {
  display: block;
  width: 100%;
  margin-bottom: 4rem;
  overflow-x: auto;
}

.cart__table .table {
  border-collapse: collapse;
  width: 100%;
  max-width: 150rem;
}

.cart__table .table th {
  font-weight: 500;
  font-style: 2rem;
  text-align: left;
  padding: 1.8rem 0;
}

.cart__table .table td {
  vertical-align: middle;
  padding: 1.8rem 0;
  white-space: nowrap;
  border-bottom: 1px solid var(--primaryColor);
}

.cart__table .table thead {
  border-bottom: 1px solid var(--primaryColor);
}

.product__name a:link,
.product__name a:visited {
  font-size: 1.5rem;
  color: var(--black2);
}

.product__name small {
  color: var(--grey);
  margin-top: 1.6rem;
}

.product__subtotal .price {
  display: inline;
}

.product__subtotal .price .new__price,
.product__price .price .new__price {
  font-size: 1.6rem;
}

.remove__cart-item {
  margin-left: 1rem;
}

.remove__cart-item:hover svg {
  fill: var(--orange);
}

.cart-btns {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--primaryColor);
  padding-bottom: 4rem;
  margin: 3rem 0;
}

.continue__shopping a:link,
.continue__shopping a:visited {
  font-size: 1.5rem;
  padding: 1.2rem 3rem;
  color: var(--black);
  text-transform: uppercase;
  border: 1px solid var(--black);
  transition: all 0.4s ease-in-out;
}

.continue__shopping a:hover {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--black);
}

.cart__totals {
  width: 60rem;
  /* height: 30rem; */
  margin: 5rem auto 0 auto;
  color: var(--black5);
  padding: 4rem 5rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 2px 30px 10px rgba(0, 0, 0, 0.09);
  border-radius: 0.5rem;
}

.cart__totals h3 {
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
}

.cart__totals .new__price {
  font-size: 1.5rem;
}

.cart__totals ul {
  margin-bottom: 2.5rem;
}

.cart__totals li {
  border: 1px solid var(--primaryColor);
  padding: 1.4rem 0.5rem;
  position: relative;
}

.cart__totals li:not(:last-child) {
  border-bottom-color: transparent;
}

.cart__totals li span {
  position: absolute;
  right: 1rem;
}

.cart__totals a:link,
.cart__totals a:visited {
  font-size: 1.5rem;
  padding: 1.2rem 3rem;
  color: var(--black);
  text-transform: uppercase;
  border: 1px solid var(--black);
  transition: all 0.4s ease-in-out;
}

.cart__totals a:hover {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--black);
}

/*
======================
Cart Area Media Query
======================
*/

@media only screen and (max-width: 1200px) {
  .minus-btn,
  .plus-btn {
    padding: 0.6rem 0.8rem;
    margin-right: 0;
  }

  .counter-btn {
    width: 4rem;
    padding: 1rem 0;
  }

  .input-counter svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
























.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

